.contDetails{
    color:whitesmoke;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.text{
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 0.6cm;
}

.image{
    padding-left: 100px;
    display: flex;
    align-items: center;
}
.image img{
    border-radius: 15rem;
    height: 20rem;
}